### Extraction

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
# OSHA data path
# https://www.osha.gov/Establishment-Specific-Injury-and-Illness-Data

#### First pass of reading in naics codes.  Codes were updated 2017, so 2106 data may not match

In [4]:
# # Store csv into df
# csv_file = "naics_codes.csv" 
# rawnaics_df = pd.read_csv(csv_file,encoding='cp1252')
# rawnaics_df.head()

#### Reading in amended NAICS data (second pass)  - has 2016 info and naics_group assignments

In [5]:
# Store csv into df
csv_file = "add_naics.csv" 
add_naics_df = pd.read_csv(csv_file,encoding='cp1252')
add_naics_df.head()

,naics_code,2017_naics_title,naics_group,naics_group_name,naics_group-naics_group_name
0,11,"Agriculture, Forestry, Fishing and Hunting",11,"Agriculture, Forestry, Fishing and Hunting","11-Agriculture, Forestry, Fishing and Hunting"
1,21,"Mining, Quarrying, and Oil and Gas Extraction",21,"Mining, Quarrying, and Oil and Gas Extraction","21-Mining, Quarrying, and Oil and Gas Extraction"
2,22,Utilities,22,Utilities,22-Utilities
3,23,Construction,23,Construction,23-Construction
4,42,Wholesale Trade,42,Wholesale Trade,42-Wholesale Trade

#### Reading in 2016 - 2020 data

In [6]:
# Store csv into df
csv_file1 = "osha_2020.csv" 
raw2020_df = pd.read_csv(csv_file1,encoding='cp1252')
raw2020_df.head()

,id,company_name,establishment_name,ein,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason
0,1090429,"CCL Tube (Wilkes-Barre), Inc.",CCL Tube,NaN,1 Lasley Avenue,Wilkes Barre,PA,18706,561910,Labeling services,185,185,386835.0,386835.0,1,0,0,2,2,0,49,4,0,0,0,0,0,93030,1.0,2,2020,1/1/2021 13:57,NaN
1,1090430,"Del-Co Water Company, Inc.",All Locations,310749383.0,6658 Olentangy River Rd,Delaware,OH,43015,221310,Water treatment and distribution,104,104,216320.0,216320.0,1,0,2,0,0,52,19,2,0,0,0,0,0,85507,1.0,2,2020,1/1/2021 14:35,NaN
2,1090431,DURATECH INDUSTRIES INTERNATIONAL INC,DURATECH INDUSTRIES INTERNATIONAL INC,450283636.0,3780 HIGHWAY 281 SE,JAMESTOWN,ND,584019421,333111,Bale throwers manufacturing,87,87,206200.0,206200.0,1,0,1,1,3,17,12,5,0,0,0,0,0,649852,1.0,2,2020,1/1/2021 16:04,NaN
3,1090432,Fred Wahl Marine Construction,Fred Wahl Marine Construction,931029886.0,135 Shipyard Way,Reedsport,OR,97467,336611,Naval ship building,109,109,215620.0,215620.0,1,0,6,4,5,451,46,15,0,0,0,0,0,541133,1.0,2,2020,1/1/2021 17:11,NaN
4,1090433,"J.R. Johnson, LLC","J.R. Johnson, LLC",931153731.0,9425 N. Burrage Ave,Portland,OR,97217,236116,"Construction management, multifamily building",142,142,268700.0,268700.0,1,0,4,2,9,38,98,15,0,0,0,0,0,407708,1.0,2,2020,1/1/2021 17:11,NaN

In [7]:
# Store csv into df
csv_file2 = "osha_2019.csv" 
raw2019_df = pd.read_csv(csv_file2,encoding="utf8",low_memory=False)
raw2019_df.head()

,id,company_name,establishment_name,ein,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason
0,789908,"Bulloch Fertilizer Co., Inc.",Anderson's General Store,NaN,23736 Highway 80 East,Statesboro,GA,30461.0,452990,General stores,23,23,23715,23715.0,2,0,0,0,0,0,0,0,0,0,0,0,0,272492,1,2,2019,1/1/2020 13:43,NaN
1,789909,"Bulloch Fertilizer Co., Inc.","Bulloch Fertilizer Co., Inc.",NaN,205 West Main Street,Statesboro,GA,30458.0,325314,"Fertilizers, mixed, made in plants not manufa...",18,18,37345,37345.0,1,0,0,0,1,0,0,1,0,0,0,0,0,272486,1,2,2019,1/1/2020 13:47,NaN
2,789910,"Guy C. Long, Inc.","Guy C. Long, Inc.",233100096.0,700 East 9th Street,Chester,PA,19013.0,238310,Drywall contractors,13,13,26492,26492.0,2,0,0,0,0,0,0,0,0,0,0,0,0,541065,1,1,2019,1/1/2020 15:38,NaN
3,789911,Oro Hotel LP,Holiday Inn Express & Suites Oroville Lake,NaN,550 Oro Dam Blvd E,Oroville,CA,95965.0,721110,Hotels (except casino hotels),25,25,35850,35850.0,2,0,0,0,0,0,0,0,0,0,0,0,0,389028,1,2,2019,1/1/2020 16:30,NaN
4,789912,Corn States Metal Fabricators,"Corn States Metal Fabricators, Inc.",NaN,1323 Maple Street,West Des Moines,IA,50265.0,332322,"Ducts, sheet metal, manufacturing",41,41,70799,70799.0,1,0,1,0,0,3,0,1,0,0,0,0,0,46806,1,2,2019,1/1/2020 16:30,NaN

In [8]:
# Store csv into df
csv_file3 = "osha_2018.csv" 
raw2018_df = pd.read_csv(csv_file3,encoding='cp1252',low_memory=False)
raw2018_df.head()

,id,company_name,establishment_name,ein,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason
0,760118,Ricoh USA Inc,"FL.TAMPA.102 - Ricoh Usa, Inc.",NaN,100 NORTH TAMPA ST.,TAMPA,FL,33602,423420,Office Equipment,1,1,1000.0,1000.0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,178615,NaN,1,2018,6/3/2019 19:32,NaN
1,760119,Ricoh USA Inc,"FL.TAMPA.116 - Ricoh Usa, Inc.",NaN,5701 E HILLSBOROUGH AVE,TAMPA,FL,33610,423420,Office Equipment,1,1,1667.0,1667.0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,393069,NaN,1,2018,6/3/2019 19:33,NaN
2,760120,Ricoh USA Inc,"FL.TAMPA.118 - Ricoh Usa, Inc.",NaN,8706 HENDERSON ROAD,TAMPA,FL,33634,423420,Office Equipment,2,2,4000.0,4000.0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,178618,NaN,1,2018,6/3/2019 19:33,NaN
3,760121,Ricoh USA Inc,"FL.TAMPA.119 - Ricoh Usa, Inc.",NaN,4630 WOODLAND CORPORATE BLVD,TAMPA,FL,33614,423420,Office Equipment,1,1,2333.0,2333.0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,178619,NaN,1,2018,6/3/2019 19:33,NaN
4,760122,Ricoh USA Inc,"FL.TAMPA.120 - Ricoh Usa, Inc.",NaN,VIRTUAL,TAMPA,FL,33618,423420,Office Equipment,2,2,4000.0,4000.0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,178620,NaN,1,2018,6/3/2019 19:33,NaN

In [9]:
# Store csv into df
csv_file4 = "osha_2017.csv" 
raw2017_df = pd.read_csv(csv_file4,encoding="utf8",low_memory=False)
raw2017_df.head()

,id,company_name,establishment_name,ein,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason
0,10454,NaN,IMA - Detroit,NaN,6501 East Nevada,Detroit,MI,48212,336360,Automotive supplier,592,592,679045,679045.0,1,0,2,36,10,31,718,47,0,0,1,0,0,54715,1.0,3,2017,9/14/2017 16:22,NaN
1,11597,CHRISTIAN HOMES INC,"CHRISTIAN HOMES, INC.",NaN,200 N POSTVILLE DRIVE,LINCOLN,IL,62656,623311,Healthcare,133,133,200391,200391.0,1,0,5,1,0,90,29,3,0,0,0,0,3,56111,1.0,2,2017,9/20/2017 10:52,NaN
2,15327,Streator Dependable Mfg.,STREATOR DEPENDABLE MANUFACTURING,NaN,1705 N SHABBONA ST,STREATOR,IL,61364,332322,Sheeet Metal Products / Shop,93,93,150443,150443.0,1,0,3,0,1,20,62,4,0,0,0,0,0,60589,1.0,2,2017,10/5/2017 14:53,NaN
3,214865,Apsilon Management,Best Western Atlanta Airport East,NaN,301 North Central Avenue,Hapeville,GA,30354,721110,Hotels (except casino hotels),25,25,63875,63875.0,2,0,0,0,0,0,0,0,0,0,0,0,0,267533,1.0,2,2017,1/1/2018 8:48,NaN
4,214866,North Dakota Grain Inspection Services,Illinois,NaN,1672 Sauget Industrial Parkway,Sauget,IL,62206,115114,"Vegetable sorting, grading, and packing",45,45,113093,113093.0,1,0,1,0,1,1,0,2,0,0,0,0,0,263866,1.0,2,2017,1/1/2018 10:07,NaN

In [10]:
# Store csv into df
csv_file5 = "osha_2016.csv" 
raw2016_df = pd.read_csv(csv_file5,encoding="utf8",low_memory=False)
raw2016_df.head()

,id,company_name,establishment_name,ein,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason
0,4,"McKamish, Inc.","McKamish, Inc.",NaN,50 55th Street,Pittsburgh,PA,15201,238220,"Heating, ventilation and air-conditioning (HVA...",280,280,579688.0,579688.0,1,0,1,1,4,35,30,6,0,0,0,0,0,41920,1.0,3,2016,8/1/2017 6:12,NaN
1,5,"The Talaria Company, LLC",The Hinckley Company,NaN,40 Industrial Way,Trenton,ME,4605,336612,Pleasure boats manufacturing,246,246,501578.0,501578.0,1,0,2,6,5,93,143,13,0,0,0,0,0,41922,1.0,3,2016,8/1/2017 6:23,NaN
2,6,Williamsburg Manufacturing,Williamsburg Manufacturing,NaN,408 Maplewood Ave,Williamsburg,IA,52361,336370,Motor vehicle metal parts stamping,273,273,619945.0,619945.0,1,0,5,13,0,203,1017,18,0,0,0,0,0,41923,1.0,3,2016,8/1/2017 6:27,NaN
3,7,"The Talaria Company, LLC","Morris Yachts, LLC",NaN,27 Ramp Road,Trenton,ME,4605,336612,Pleasure boats manufacturing,33,33,75794.0,75794.0,1,0,0,1,0,0,49,1,0,0,0,0,0,41925,1.0,2,2016,8/1/2017 6:36,Hit wrong hyperlink
4,8,"The Talaria Company, LLC","Hunt Yachts, LLC",NaN,1909 Alden Landing,Portsmouth,RI,2871,336612,Pleasure boats manufacturing,43,43,114734.0,114734.0,1,0,3,0,3,92,0,6,0,0,0,0,0,41926,1.0,2,2016,8/1/2017 6:35,NaN

#### Combining all data into 1 df

In [11]:
frames = [raw2016_df, raw2017_df, raw2018_df, raw2019_df, raw2020_df]

injuries_raw_16_20_df = pd.concat(frames)
injuries_raw_16_20_df

,id,company_name,establishment_name,ein,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason
0,4,"McKamish, Inc.","McKamish, Inc.",NaN,50 55th Street,Pittsburgh,PA,15201.0,238220,"Heating, ventilation and air-conditioning (HVA...",280,280,579688,579688.0,1.0,0,1,1,4,35,30,6,0,0,0,0,0,41920,1,3,2016,8/1/2017 6:12,NaN
1,5,"The Talaria Company, LLC",The Hinckley Company,NaN,40 Industrial Way,Trenton,ME,4605.0,336612,Pleasure boats manufacturing,246,246,501578,501578.0,1.0,0,2,6,5,93,143,13,0,0,0,0,0,41922,1,3,2016,8/1/2017 6:23,NaN
2,6,Williamsburg Manufacturing,Williamsburg Manufacturing,NaN,408 Maplewood Ave,Williamsburg,IA,52361.0,336370,Motor vehicle metal parts stamping,273,273,619945,619945.0,1.0,0,5,13,0,203,1017,18,0,0,0,0,0,41923,1,3,2016,8/1/2017 6:27,NaN
3,7,"The Talaria Company, LLC","Morris Yachts, LLC",NaN,27 Ramp Road,Trenton,ME,4605.0,336612,Pleasure boats manufacturing,33,33,75794,75794.0,1.0,0,0,1,0,0,49,1,0,0,0,0,0,41925,1,2,2016,8/1/2017 6:36,Hit wrong hyperlink
4,8,"The Talaria Company, LLC","Hunt Yachts, LLC",NaN,1909 Alden Landing,Portsmouth,RI,2871.0,336612,Pleasure boats manufacturing,43,43,114734,114734.0,1.0,0,3,0,3,92,0,6,0,0,0,0,0,41926,1,2,2016,8/1/2017 6:35,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
277986,1370710,The Hill Group,Aero Test and Balance,461000639.0,11045 Gage Ave,Franklin Park,IL,60655.0,238220,Air system balancing and testing,27,27,69226,69226.0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,193432,1,2,2020,4/2/2021 22:18,NaN
277987,1370711,The Hill Group,Hill Mechanical Corp.,361334975.0,11045 Gage Ave,Franklin Park,IL,60655.0,238220,"Heating, ventilation and air-conditioning (HV...",451,451,932512,932512.0,1.0,0,4,0,6,290,324,10,0,0,0,0,0,193298,1,3,2020,4/2/2021 22:31,NaN
277988,1370712,Advanced Structural Technologies Inc.,"Advanced Structural Technologies, Inc.",811263463.0,950 Richmond Ave.,OXNARD,CA,93030.0,336390,"Automotive mirrors, framed, manufacturing",137,137,264663,264663.0,1.0,0,17,0,0,1065,418,17,0,0,0,0,0,744929,1,2,2020,4/2/2021 22:44,NaN
277989,1370713,Matrix Roofing & Home Solutions,Matrix Roofing & Home Solutions,262035801.0,POB 822440,Vancouver,WA,98665.0,236115,"Housing, single-family, construction general ...",27,27,43251,43251.0,1.0,0,1,2,2,17,24,5,0,0,0,0,0,745567,1,2,2020,4/2/2021 22:57,NaN
277990,1370714,Anaergia Services LLC,Anaergia Services LLC,454665228.0,503 E Santa Ana Ave,Bloomington,CA,92316.0,562910,"Remediation services, environmental",75,75,195000,195000.0,1.0,0,1,0,0,15,0,1,0,0,0,0,0,745568,1,2,2020,4/2/2021 23:03,NaN

In [12]:
# injuries_raw_16_20_df.dtypes

In [13]:
injuries_raw_16_20_df.isnull().sum()

id                                    0
company_name                     106385
establishment_name                    8
ein                              844963
street_address                       21
city                                 31
state                                 0
zip_code                              1
naics_code                            0
industry_description              98827
annual_average_employees              0
emp_raw                               0
total_hours_worked                   14
hours_raw                            14
no_injuries_illnesses                 1
total_deaths                          0
total_dafw_cases                      0
total_djtr_cases                      0
total_other_cases                     0
total_dafw_days                       0
total_djtr_days                       0
total_injuries                        0
total_poisonings                      0
total_respiratory_conditions          0
total_skin_disorders                  0
total_hearing_loss                    0
total_other_illnesses                 0
establishment_id                      0
establishment_type               115848
size                                  0
year_filing_for                       0
created_timestamp                    10
change_reason                   1288184
dtype: int64

#### First pass at merging naics and OSHA data - step is conducted to address data gaps in the OSHA dataset and allow for sorting on family (2 or 3 digit) naics values

In [14]:
# injury_df = pd.merge(injuries_raw_16_20_df, rawnaics_df, how="left", on=["naics_code"])
# injury_df.head()

#### Second pass on naics - has data gaps addressed

In [15]:
injury1_df = pd.merge(injuries_raw_16_20_df, add_naics_df, how="left", on=["naics_code"])
injury1_df.head(3)

,id,company_name,establishment_name,ein,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,establishment_type,size,year_filing_for,created_timestamp,change_reason,2017_naics_title,naics_group,naics_group_name,naics_group-naics_group_name
0,4,"McKamish, Inc.","McKamish, Inc.",NaN,50 55th Street,Pittsburgh,PA,15201.0,238220,"Heating, ventilation and air-conditioning (HVA...",280,280,579688,579688.0,1.0,0,1,1,4,35,30,6,0,0,0,0,0,41920,1,3,2016,8/1/2017 6:12,NaN,"Plumbing, Heating, and Air-Conditioning Contra...",23,Construction,23-Construction
1,5,"The Talaria Company, LLC",The Hinckley Company,NaN,40 Industrial Way,Trenton,ME,4605.0,336612,Pleasure boats manufacturing,246,246,501578,501578.0,1.0,0,2,6,5,93,143,13,0,0,0,0,0,41922,1,3,2016,8/1/2017 6:23,NaN,Boat Building,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing
2,6,Williamsburg Manufacturing,Williamsburg Manufacturing,NaN,408 Maplewood Ave,Williamsburg,IA,52361.0,336370,Motor vehicle metal parts stamping,273,273,619945,619945.0,1.0,0,5,13,0,203,1017,18,0,0,0,0,0,41923,1,3,2016,8/1/2017 6:27,NaN,Motor Vehicle Metal Stamping,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing

In [16]:
injury1_df.isnull().sum()

id                                    0
company_name                     106385
establishment_name                    8
ein                              844963
street_address                       21
city                                 31
state                                 0
zip_code                              1
naics_code                            0
industry_description              98827
annual_average_employees              0
emp_raw                               0
total_hours_worked                   14
hours_raw                            14
no_injuries_illnesses                 1
total_deaths                          0
total_dafw_cases                      0
total_djtr_cases                      0
total_other_cases                     0
total_dafw_days                       0
total_djtr_days                       0
total_injuries                        0
total_poisonings                      0
total_respiratory_conditions          0
total_skin_disorders                  0
total_hearing_loss                    0
total_other_illnesses                 0
establishment_id                      0
establishment_type               115848
size                                  0
year_filing_for                       0
created_timestamp                    10
change_reason                   1288184
2017_naics_title                   2847
naics_group                           0
naics_group_name                      0
naics_group-naics_group_name          0
dtype: int64

In [17]:
injury2_df = injury1_df.drop(columns=['change_reason', 'establishment_type', 'ein' ])
injury2_df.head()

,id,company_name,establishment_name,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,size,year_filing_for,created_timestamp,2017_naics_title,naics_group,naics_group_name,naics_group-naics_group_name
0,4,"McKamish, Inc.","McKamish, Inc.",50 55th Street,Pittsburgh,PA,15201.0,238220,"Heating, ventilation and air-conditioning (HVA...",280,280,579688,579688.0,1.0,0,1,1,4,35,30,6,0,0,0,0,0,41920,3,2016,8/1/2017 6:12,"Plumbing, Heating, and Air-Conditioning Contra...",23,Construction,23-Construction
1,5,"The Talaria Company, LLC",The Hinckley Company,40 Industrial Way,Trenton,ME,4605.0,336612,Pleasure boats manufacturing,246,246,501578,501578.0,1.0,0,2,6,5,93,143,13,0,0,0,0,0,41922,3,2016,8/1/2017 6:23,Boat Building,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing
2,6,Williamsburg Manufacturing,Williamsburg Manufacturing,408 Maplewood Ave,Williamsburg,IA,52361.0,336370,Motor vehicle metal parts stamping,273,273,619945,619945.0,1.0,0,5,13,0,203,1017,18,0,0,0,0,0,41923,3,2016,8/1/2017 6:27,Motor Vehicle Metal Stamping,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing
3,7,"The Talaria Company, LLC","Morris Yachts, LLC",27 Ramp Road,Trenton,ME,4605.0,336612,Pleasure boats manufacturing,33,33,75794,75794.0,1.0,0,0,1,0,0,49,1,0,0,0,0,0,41925,2,2016,8/1/2017 6:36,Boat Building,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing
4,8,"The Talaria Company, LLC","Hunt Yachts, LLC",1909 Alden Landing,Portsmouth,RI,2871.0,336612,Pleasure boats manufacturing,43,43,114734,114734.0,1.0,0,3,0,3,92,0,6,0,0,0,0,0,41926,2,2016,8/1/2017 6:35,Boat Building,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing

In [18]:
injury2_df["industry_description"].fillna(injury2_df["naics_group_name"], inplace=True)
injury2_df.head(3)

,id,company_name,establishment_name,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,size,year_filing_for,created_timestamp,2017_naics_title,naics_group,naics_group_name,naics_group-naics_group_name
0,4,"McKamish, Inc.","McKamish, Inc.",50 55th Street,Pittsburgh,PA,15201.0,238220,"Heating, ventilation and air-conditioning (HVA...",280,280,579688,579688.0,1.0,0,1,1,4,35,30,6,0,0,0,0,0,41920,3,2016,8/1/2017 6:12,"Plumbing, Heating, and Air-Conditioning Contra...",23,Construction,23-Construction
1,5,"The Talaria Company, LLC",The Hinckley Company,40 Industrial Way,Trenton,ME,4605.0,336612,Pleasure boats manufacturing,246,246,501578,501578.0,1.0,0,2,6,5,93,143,13,0,0,0,0,0,41922,3,2016,8/1/2017 6:23,Boat Building,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing
2,6,Williamsburg Manufacturing,Williamsburg Manufacturing,408 Maplewood Ave,Williamsburg,IA,52361.0,336370,Motor vehicle metal parts stamping,273,273,619945,619945.0,1.0,0,5,13,0,203,1017,18,0,0,0,0,0,41923,3,2016,8/1/2017 6:27,Motor Vehicle Metal Stamping,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing

In [19]:
injury2_df.isnull().sum()

id                                   0
company_name                    106385
establishment_name                   8
street_address                      21
city                                31
state                                0
zip_code                             1
naics_code                           0
industry_description                 0
annual_average_employees             0
emp_raw                              0
total_hours_worked                  14
hours_raw                           14
no_injuries_illnesses                1
total_deaths                         0
total_dafw_cases                     0
total_djtr_cases                     0
total_other_cases                    0
total_dafw_days                      0
total_djtr_days                      0
total_injuries                       0
total_poisonings                     0
total_respiratory_conditions         0
total_skin_disorders                 0
total_hearing_loss                   0
total_other_illnesses                0
establishment_id                     0
size                                 0
year_filing_for                      0
created_timestamp                   10
2017_naics_title                  2847
naics_group                          0
naics_group_name                     0
naics_group-naics_group_name         0
dtype: int64

#### Continuance of first pass to address naics and related OSHA data set gaps

In [20]:
# temp1_df = injury2_df[injury2_df['2017_naics_title'].isna()]
# temp1_df

In [21]:
# temp1_df.naics_code.unique()

#### Continuance of 2nd pass addressing NaN

In [22]:
injury2_df["2017_naics_title"].fillna(injury2_df['industry_description'],inplace = True)
injury2_df.head(3)

,id,company_name,establishment_name,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,size,year_filing_for,created_timestamp,2017_naics_title,naics_group,naics_group_name,naics_group-naics_group_name
0,4,"McKamish, Inc.","McKamish, Inc.",50 55th Street,Pittsburgh,PA,15201.0,238220,"Heating, ventilation and air-conditioning (HVA...",280,280,579688,579688.0,1.0,0,1,1,4,35,30,6,0,0,0,0,0,41920,3,2016,8/1/2017 6:12,"Plumbing, Heating, and Air-Conditioning Contra...",23,Construction,23-Construction
1,5,"The Talaria Company, LLC",The Hinckley Company,40 Industrial Way,Trenton,ME,4605.0,336612,Pleasure boats manufacturing,246,246,501578,501578.0,1.0,0,2,6,5,93,143,13,0,0,0,0,0,41922,3,2016,8/1/2017 6:23,Boat Building,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing
2,6,Williamsburg Manufacturing,Williamsburg Manufacturing,408 Maplewood Ave,Williamsburg,IA,52361.0,336370,Motor vehicle metal parts stamping,273,273,619945,619945.0,1.0,0,5,13,0,203,1017,18,0,0,0,0,0,41923,3,2016,8/1/2017 6:27,Motor Vehicle Metal Stamping,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing

In [23]:
injury2_df.isnull().sum()

id                                   0
company_name                    106385
establishment_name                   8
street_address                      21
city                                31
state                                0
zip_code                             1
naics_code                           0
industry_description                 0
annual_average_employees             0
emp_raw                              0
total_hours_worked                  14
hours_raw                           14
no_injuries_illnesses                1
total_deaths                         0
total_dafw_cases                     0
total_djtr_cases                     0
total_other_cases                    0
total_dafw_days                      0
total_djtr_days                      0
total_injuries                       0
total_poisonings                     0
total_respiratory_conditions         0
total_skin_disorders                 0
total_hearing_loss                   0
total_other_illnesses                0
establishment_id                     0
size                                 0
year_filing_for                      0
created_timestamp                   10
2017_naics_title                     0
naics_group                          0
naics_group_name                     0
naics_group-naics_group_name         0
dtype: int64

#### First pass to address naics gaps

In [24]:
# add1_naics_full_df = temp1_df.drop_duplicates(subset='naics_code')
# add1_naics_full_df

In [25]:
# add_naics = add_naics_full_df[['naics_code','industry_description']]
# add_naics

In [26]:
# result1 = pd.concat([rawnaics_df, add_naics], ignore_index=True)
# result1

In [27]:
# result2 = result1.sort_values('naics_code')
# result2

#### writing first pass naics cleanup to csv file - additional manipulation occurred in excel.  Need to see if 2 or 3 digit naics grouping therefore to challenging to do in python

In [28]:
# result2.to_csv ('add_naics.csv', index = False, header=True)

#### continuance of 2nd pass - cleaning up difference in state abbreviations

In [29]:
injury2_df['state_temp'] = injury2_df['state']
injury2_df

,id,company_name,establishment_name,street_address,city,state,zip_code,naics_code,industry_description,annual_average_employees,emp_raw,total_hours_worked,hours_raw,no_injuries_illnesses,total_deaths,total_dafw_cases,total_djtr_cases,total_other_cases,total_dafw_days,total_djtr_days,total_injuries,total_poisonings,total_respiratory_conditions,total_skin_disorders,total_hearing_loss,total_other_illnesses,establishment_id,size,year_filing_for,created_timestamp,2017_naics_title,naics_group,naics_group_name,naics_group-naics_group_name,state_temp
0,4,"McKamish, Inc.","McKamish, Inc.",50 55th Street,Pittsburgh,PA,15201.0,238220,"Heating, ventilation and air-conditioning (HVA...",280,280,579688,579688.0,1.0,0,1,1,4,35,30,6,0,0,0,0,0,41920,3,2016,8/1/2017 6:12,"Plumbing, Heating, and Air-Conditioning Contra...",23,Construction,23-Construction,PA
1,5,"The Talaria Company, LLC",The Hinckley Company,40 Industrial Way,Trenton,ME,4605.0,336612,Pleasure boats manufacturing,246,246,501578,501578.0,1.0,0,2,6,5,93,143,13,0,0,0,0,0,41922,3,2016,8/1/2017 6:23,Boat Building,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing,ME
2,6,Williamsburg Manufacturing,Williamsburg Manufacturing,408 Maplewood Ave,Williamsburg,IA,52361.0,336370,Motor vehicle metal parts stamping,273,273,619945,619945.0,1.0,0,5,13,0,203,1017,18,0,0,0,0,0,41923,3,2016,8/1/2017 6:27,Motor Vehicle Metal Stamping,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing,IA
3,7,"The Talaria Company, LLC","Morris Yachts, LLC",27 Ramp Road,Trenton,ME,4605.0,336612,Pleasure boats manufacturing,33,33,75794,75794.0,1.0,0,0,1,0,0,49,1,0,0,0,0,0,41925,2,2016,8/1/2017 6:36,Boat Building,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing,ME
4,8,"The Talaria Company, LLC","Hunt Yachts, LLC",1909 Alden Landing,Portsmouth,RI,2871.0,336612,Pleasure boats manufacturing,43,43,114734,114734.0,1.0,0,3,0,3,92,0,6,0,0,0,0,0,41926,2,2016,8/1/2017 6:35,Boat Building,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing,RI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1332731,1370710,The Hill Group,Aero Test and Balance,11045 Gage Ave,Franklin Park,IL,60655.0,238220,Air system balancing and testing,27,27,69226,69226.0,2.0,0,0,0,0,0,0,0,0,0,0,0,0,193432,2,2020,4/2/2021 22:18,"Plumbing, Heating, and Air-Conditioning Contra...",23,Construction,23-Construction,IL
1332732,1370711,The Hill Group,Hill Mechanical Corp.,11045 Gage Ave,Franklin Park,IL,60655.0,238220,"Heating, ventilation and air-conditioning (HV...",451,451,932512,932512.0,1.0,0,4,0,6,290,324,10,0,0,0,0,0,193298,3,2020,4/2/2021 22:31,"Plumbing, Heating, and Air-Conditioning Contra...",23,Construction,23-Construction,IL
1332733,1370712,Advanced Structural Technologies Inc.,"Advanced Structural Technologies, Inc.",950 Richmond Ave.,OXNARD,CA,93030.0,336390,"Automotive mirrors, framed, manufacturing",137,137,264663,264663.0,1.0,0,17,0,0,1065,418,17,0,0,0,0,0,744929,2,2020,4/2/2021 22:44,Other Motor Vehicle Parts Manufacturing,336,Transportation Equipment Manufacturing,336-Transportation Equipment Manufacturing,CA
1332734,1370713,Matrix Roofing & Home Solutions,Matrix Roofing & Home Solutions,POB 822440,Vancouver,WA,98665.0,236115,"Housing, single-family, construction general ...",27,27,43251,43251.0,1.0,0,1,2,2,17,24,5,0,0,0,0,0,745567,2,2020,4/2/2021 22:57,New Single-Family Housing Construction (except...,23,Construction,23-Construction,WA
1332735,1370714,Anaergia Services LLC,Anaergia Services LLC,503 E Santa Ana Ave,Bloomington,CA,92316.0,562910,"Remediation services, environmental",75,75,195000,195000.0,1.0,0,1,0,0,15,0,1,0,0,0,0,0,745568,2,2020,4/2/2021 23:03,Remediation Services,56,Administrative and Support and Waste Managemen...,56-Administrative and Support and Waste Manage...,CA

In [30]:
injury2_df.state.unique()

array(['PA', 'ME', 'IA', 'RI', 'MD', 'AL', 'MI', 'NY', 'NJ', 'NH', 'GA',
       'FL', 'OK', 'IN', 'VA', 'KY', 'NV', 'TN', 'OH', 'MA', 'IL', 'MS',
       'SD', 'WI', 'VT', 'UT', 'LA', 'MO', 'CT', 'NM', 'TX', 'KS', 'AR',
       'MN', 'NC', 'AZ', 'SC', 'WV', 'CA', 'CO', 'OR', 'WA', 'ID', 'NE',
       'ND', 'DE', 'DC', 'MT', 'HI', 'PR', 'VI', 'Fl', 'AK', 'WY', 'fl',
       'La', 'Il', 'GU', 'Mi', 'Oh', 'Or', 'AA', 'AS', 'Ma', 'Ok', 'AE',
       'Ca', 'tx', 'ny', 'In', 'ga', 'al', 'tn', 'nc', 'Ne', 'Ga', 'Tx',
       'Id', 'MP', 'Al', 'Pa', 'Mo', 'Wa', 'ky', 'AP', 'pa', 'FM', 'Az',
       'va', 'oh', 'Ak', 'Wi', 'nv'], dtype=object)

In [31]:
injury2_df.loc[injury2_df['state_temp'] == "fl", 'state'] = 'FL'
injury2_df.loc[injury2_df['state_temp'] == "La", 'state'] = 'LA'
injury2_df.loc[injury2_df['state_temp'] == "Il", 'state'] = 'IL'
injury2_df.loc[injury2_df['state_temp'] == "Mi", 'state'] = 'MI'
injury2_df.loc[injury2_df['state_temp'] == "Oh", 'state'] = 'OH'
injury2_df.loc[injury2_df['state_temp'] == "Or", 'state'] = 'OR'
injury2_df.loc[injury2_df['state_temp'] == "Ma", 'state'] = 'MA'
injury2_df.loc[injury2_df['state_temp'] == "Ok", 'state'] = 'OK'
injury2_df.loc[injury2_df['state_temp'] == "Ca", 'state'] = 'CA'
injury2_df.loc[injury2_df['state_temp'] == "tx", 'state'] = 'TX'
injury2_df.loc[injury2_df['state_temp'] == "ny", 'state'] = 'NY'
injury2_df.loc[injury2_df['state_temp'] == "In", 'state'] = 'IN'
injury2_df.loc[injury2_df['state_temp'] == "ga", 'state'] = 'GA'
injury2_df.loc[injury2_df['state_temp'] == "al", 'state'] = 'AL'
injury2_df.loc[injury2_df['state_temp'] == "tn", 'state'] = 'TN'
injury2_df.loc[injury2_df['state_temp'] == "nc", 'state'] = 'NC'
injury2_df.loc[injury2_df['state_temp'] == "Ne", 'state'] = 'NE'
injury2_df.loc[injury2_df['state_temp'] == "Ga", 'state'] = 'GA'
injury2_df.loc[injury2_df['state_temp'] == "Tx", 'state'] = 'TX'
injury2_df.loc[injury2_df['state_temp'] == "Id", 'state'] = 'ID'
injury2_df.loc[injury2_df['state_temp'] == "Al", 'state'] = 'AL'
injury2_df.loc[injury2_df['state_temp'] == "Pa", 'state'] = 'PA'
injury2_df.loc[injury2_df['state_temp'] == "Mo", 'state'] = 'MO'
injury2_df.loc[injury2_df['state_temp'] == "Wa", 'state'] = 'WA'
injury2_df.loc[injury2_df['state_temp'] == "ky", 'state'] = 'KY'
injury2_df.loc[injury2_df['state_temp'] == "pa", 'state'] = 'PA'
injury2_df.loc[injury2_df['state_temp'] == "Az", 'state'] = 'AZ'
injury2_df.loc[injury2_df['state_temp'] == "oh", 'state'] = 'OH'
injury2_df.loc[injury2_df['state_temp'] == "va", 'state'] = 'VA'
injury2_df.loc[injury2_df['state_temp'] == "Ak", 'state'] = 'AK'
injury2_df.loc[injury2_df['state_temp'] == "Wi", 'state'] = 'WI'
injury2_df.loc[injury2_df['state_temp'] == "nv", 'state'] = 'NV'
injury2_df.loc[injury2_df['state_temp'] == "Fl", 'state'] = 'FL'

In [32]:
injury2_df.state.unique()

array(['PA', 'ME', 'IA', 'RI', 'MD', 'AL', 'MI', 'NY', 'NJ', 'NH', 'GA',
       'FL', 'OK', 'IN', 'VA', 'KY', 'NV', 'TN', 'OH', 'MA', 'IL', 'MS',
       'SD', 'WI', 'VT', 'UT', 'LA', 'MO', 'CT', 'NM', 'TX', 'KS', 'AR',
       'MN', 'NC', 'AZ', 'SC', 'WV', 'CA', 'CO', 'OR', 'WA', 'ID', 'NE',
       'ND', 'DE', 'DC', 'MT', 'HI', 'PR', 'VI', 'AK', 'WY', 'GU', 'AA',
       'AS', 'AE', 'MP', 'AP', 'FM'], dtype=object)

In [33]:
injury2_df.to_csv ('2016_2020_injuries.csv', index = False, header=True)